<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoC - Add Car</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/cars.css">
</head>
<%-include("templates/navbar") %>
<body class="d-flex flex-column justify-content-between vh-100 pt-5">
    <main class="d-flex align-items-center flex-column">
        <h3>Create Car Item</h3>
        <form method="POST" action="/cars/addcar" enctype="multipart/form-data" class="d-flex flex-column w-50 gap-2 mb-3"> 
            <label for="brand">Brand: </label>
            <input type="text" class="brand" id="brand" name="brand" required/>
            <label for="model">Model: </label>
            <input type="text" class="model" id="model" name="model" required/>
            <label for="year">Year: </label>
            <input type="number" class="year" id="year" name="year" required/>
            <label for="doors">Doors: </label>
            <input type="number" class="doors" id="doors" name="doors" required/>
            <label for="color">Color: </label>
            <input type="text" class="color" id="color" name="color" required/>
            <label for="engine">Horse Power: </label>
            <input type="number" class="engine" id="engine" name="engine" required/>
            <div class="d-flex gap-2">
                <% categories.forEach( category => {%>
                    <input type="checkbox" class="<%= category.name %>" id="<%= category.name %>" name="categories" value="<%= category.id %>"/>
                    <label for="<%= category.name %>"><%= category.name %></label>
                <% }) %>
            </div>
            <label for="description">Description</label>
            <textarea name="description" id="description" name="description" rows="10"></textarea>
            <label for="car-image">Car Image</label>
            <input type="file" class="car-image" id="car-image" name="car_asset" required/>
            <button type="submit" class="w-25 align-self-center">Submit</button>
        </form>
    </main>
    <%-include("templates/footer") %>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>